/.DS_Store
/NeuroML2/*.png
/NeuroML2/*.svg
/neuroConstruct/NorenbergEtAl2010.ncx.bak
/neuroConstruct/morphologies/*.bak
/neuroConstruct/simulations
/neuroConstruct/generated*
/NeuroML2/*.hoc
/NeuroML2/*_nrn.py
/NeuroML2/*.dat
/NeuroML2/*.mod
/NeuroML2/x86_64
/NeuroML2/channelConvert/x86_64
/NeuroML2/channelConvert/*.dat
/NeuroML2/channelConvert/LEMS_Test_*.xml
